In [1]:
# Pandas Series
print("Learning Python Packages : Pandas")

Learning Python Packages

In [6]:
from pandas import * #Not a good practice
import pandas as pd

In [16]:
#Series data structure in pandas
#creating a Series with default index
s = pd.Series([12,-4,7,9])
print(s)
type(s)

0    12
1    -4
2     7
3     9
dtype: int64

pandas.core.series.Series

In [17]:
#giving your own index to the series
S = pd.Series([12,-4,7,9], index=['a','b','c','d'])
print(s)

0    12
1    -4
2     7
3     9
dtype: int64

In [27]:
#Series values
print(S.values)

#Series index
print(S.index)

type(S.index)

[12 -4  7  9]
Index(['a', 'b', 'c', 'd'], dtype='object')

pandas.core.indexes.base.Index

In [40]:
#Playing with the Series object S and s
print(S['a'])
print(S['a':'d'])
print(S[['b', 'd']])

print(s[0:2])

#assigning values, mutable
S['b'] = 4
print(S)

#filtering values
print("printing positive elements of s\n", s[s>0])

#creating series from a numpy array and another series
import numpy as np

NewS = pd.Series(np.array([1,2,3,4,5]))

print("printing Series created from numpy array\n", NewS)

seriesFromSeries = pd.Series(NewS)
print(seriesFromSeries)

12
a    12
b     4
c     7
d     9
dtype: int64
b    4
d    9
dtype: int64
0    12
1    -4
dtype: int64
a    12
b     4
c     7
d     9
dtype: int64
printing positive elements of s
 0    12
2     7
3     9
dtype: int64
printing Series created from numpy array
 0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [52]:
print("Operations and Mathematical Functions")
print("diving all the elements of s by 2")
print(s/2)

#changing the negative value before applying a log 

s[1] = 4

print("\nThe logarithmic values\n")
np.log(s)

Operations and Mathematical Functions
diving all the elements of s by 2
0    6.0
1    2.0
2    3.5
3    4.5
b    2.0
dtype: float64

The logarithmic values

0    2.484907
1    1.386294
2    1.945910
3    2.197225
b    1.386294
dtype: float64

In [67]:
new1 = pd.Series([1,2,3,4,4], index = ['a','a','a','b','c'])
print(new1)

print("printing all the elements for index 'a' ")
print(new1['a'])

#getting unique values 
print(new1.unique)

#we can also get the count for each element
print(new1.value_counts())

a    1
a    2
a    3
b    4
c    4
dtype: int64
printing all the elements for index 'a'
a    1
a    2
a    3
dtype: int64
<bound method Series.unique of a    1
a    2
a    3
b    4
c    4
dtype: int64>
4    2
3    1
2    1
1    1
dtype: int64

In [74]:
serd = pd.Series([1,0,2,1,2,3], index=['white','white','blue','green','green','yellow'])

print(serd)

serd.isin([0,3])

serd[serd.isin([0,3])]

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

white     0
yellow    3
dtype: int64

In [80]:
a = pd.Series([4,5,6,0,9,99,-5])
a
np.log(a)

/Users/sankar.biswas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/sankar.biswas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

0    1.386294
1    1.609438
2    1.791759
3        -inf
4    2.197225
5    4.595120
6         NaN
dtype: float64

In [82]:
#NaN considered as null
print(a.isnull())

#values which are not NaN
print(a.notnull())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
5    True
6    True
dtype: bool

In [84]:
a[a.notnull()]

0     4
1     5
2     6
3     0
4     9
5    99
6    -5
dtype: int64

In [86]:
#Series as dictionaries 
a = {'red' : 5, 'White' : 10, 'black' : 9, 'Pink' : 7}

b = pd.Series(a)
print(b)

red       5
White    10
black     9
Pink      7
dtype: int64

In [87]:
m = [1,3,4]
n = ['A', 'C', 'D']

c = pd.Series(m, index = n)
c

A    1
C    3
D    4
dtype: int64

In [89]:
a = {'A' : 5, 'White' : 10, 'black' : 9, 'Pink' : 7}
n = ['A', 'C', 'D', 'F']

c = pd.Series(a, index = n)
c

A    5.0
C    NaN
D    NaN
F    NaN
dtype: float64

In [90]:
#Operatioons betweeen Series 

a = pd.Series([5,7,9], index = ['red', 'green', 'yellow'])

b = pd.Series([11,13,15], index = ['red', 'green', 'blue'])

a + b

blue       NaN
green     20.0
red       16.0
yellow     NaN
dtype: float64