In [6]:
# Reading and writing data that is I/O APIs
import numpy as np
import pandas as pd
import os

os.getcwd()
os.chdir("/Users/sankar.biswas/Desktop/AI:ML docs/Notebooks/InputFiles")

In [10]:
csvFrame = pd.read_csv('input.txt')
print(csvFrame)

type(csvFrame)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

pandas.core.frame.DataFrame

In [13]:
csvFrame = pd.read_table('input.txt', sep = ',', names=['white','red','blue','green','animal'])
print(csvFrame)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [14]:
csvFrame = pd.read_table('input.txt', sep = ',', header = None)
csvFrame

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  2  2  8  3   duck
4  4  4  2  1  mouse

In [15]:
csvFrame = pd.read_table('input2.txt', sep = ',', index_col = ['color','status'])
csvFrame

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4

In [18]:
# Using RegExp to Parse TXT Files
frame5 = pd.read_table('input3.txt', sep = '\s+', engine = 'python')
frame5

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [19]:
# Input ==> 
#000END123AAA122
#001END124BBB321
#002END125CCC333

frame6 = pd.read_table('input4.txt',sep='\D+', header = None, engine='python')
frame6

   0    1    2
0  0  123  122
1  1  124  321
2  2  125  333

In [20]:
# Skipping given rows
'''
input :: 

This file has been generated by automatic system
white,red,blue,green,animal
12-Feb-2015: Counting of animals inside the house
1,5,2,3,cat
2,7,8,5,dog
13-Feb-2015: Counting of animals outside the house
3,3,6,7,horse
2,2,8,3,duck
4,4,2,1,mouse
'''

frame7 = pd.read_table('input5.txt', sep = ',', skiprows = [0,2,5])
frame7

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [21]:
pd.read_csv('input.txt',skiprows=[2],nrows=3,header=None)

   0  1  2  3     4
0  1  5  2  3   cat
1  2  7  8  5   dog
2  2  2  8  3  duck

In [22]:
# Writing Data in CSV
frame = pd.DataFrame(np.arange(16).reshape((4,4)),index = ['red', 'blue', 'yellow', 'white'],
                     columns = ['ball', 'pen', 'pencil', 'paper'])

frame.to_csv('output1.txt', header = None, index = False)

In [23]:
# Removing NaN with NULL
frame.to_csv('output2.txt', na_rep = 'NULL', header = None, index = None)

In [27]:
# Reading and Writing HTML Files ::
frame = pd.DataFrame(np.arange(4).reshape(2,2))

frame.to_html('output3.html', header = None, index = False)

None