In [8]:
#Pandas DataFrame

import pandas as pd

import numpy as np

dick = {'name' : ['Sankar', 'Puja'], 'Age': [23,24], 'color' : ['brown', 'white']}

frame = pd.DataFrame(dick)

frame

     name  Age  color
0  Sankar   23  brown
1    Puja   24  white

In [3]:
#selective columns

frame1 = pd.DataFrame(dick, columns = ['name'])

frame1

     name
0  Sankar
1    Puja

In [6]:
frame1 = pd.DataFrame(dick, index = ['first', 'second'])

frame1

          name  Age  color
first   Sankar   23  brown
second    Puja   24  white

In [9]:
#other ways defining a dataframe

frame3 = pd.DataFrame(np.arange(16).reshape((4,4)), index=['red','blue','yellow','white'], columns=['ball','pen','pencil','paper'])
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [19]:
# selecting elements 

print("\n",frame.columns, "\n")

print("\n", frame.index, "\n")

print("\n", frame.values, "\n")

print("\n", frame.loc[0], "\n")

print("\n", frame.loc[[0, 1]], "\n")

print("\n", frame.loc[[0, 1]], "\n")

print("\n", frame['name'][1], "\n")

 Index(['name', 'Age', 'color'], dtype='object')


 RangeIndex(start=0, stop=2, step=1)


 [['Sankar' 23 'brown']
 ['Puja' 24 'white']]


 name     Sankar
Age          23
color     brown
Name: 0, dtype: object


      name  Age  color
0  Sankar   23  brown
1    Puja   24  white


      name  Age  color
0  Sankar   23  brown
1    Puja   24  white


 Puja

In [21]:
# Assigning Values 
frame['name'][0] = 'Sambhu'

frame

/Users/sankar.biswas/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     name  Age  color
0  Sambhu   23  brown
1    Puja   24  white

In [22]:
# DataFrame from Nested dict

nestdict = {'red': { 2012: 22, 2013: 33 },'white': { 2011: 13, 2012: 22, 2013: 16},'blue': {2011: 17, 2012: 27, 2013: 18}}

frame4 = pd.DataFrame(nestdict)

frame4

       red  white  blue
2011   NaN     13    17
2012  22.0     22    27
2013  33.0     16    18

In [34]:
# The index object
#Different methods on index 

ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','white'])
print("\nSer values\n",ser)

print(ser.idxmin())
print()
print(ser.idxmax())

Ser values
 red       5
blue      0
yellow    3
white     8
white     4
dtype: int64
blue

white

In [35]:
ser.index.is_unique

frame4.index.is_unique

True

In [38]:
#Other Functionalities on Indexes
# 1) Reindexing 

ser10 = pd.Series([1,2,3,4,5], index = [0,3,4,6,9])
print("ser10 before reindexing\n", ser10)
ser11 = ser10.reindex([1,2,3,4,5])
print("after reindexing \n", ser11)

ser10 before reindexing
 0    1
3    2
4    3
6    4
9    5
dtype: int64
after reindexing
 1    NaN
2    NaN
3    2.0
4    3.0
5    NaN
dtype: float64

In [40]:
ser13 = ser10.reindex([1,2,3,4,5], method = 'bfill')
ser13

1    2
2    2
3    2
4    3
5    4
dtype: int64

In [41]:
ser12 = ser10.reindex([1,2,3,4,5], method = 'ffill')

ser12

1    1
2    1
3    2
4    3
5    3
dtype: int64